

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(230,180,102,255);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(82,40,144,255);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

#cardImage {
  width: fit-content;
  padding-top: 3%;
  border-radius: 5%;
  max-height: 180px;
  max-width: 175px;
}

.maincontainer {
  margin-top: 7%;
  margin-bottom: 4%;
}


.check {
  display: flex;
  justify-content: space-between;
  padding: 0;
  /* margin-top: 1%; */
}

#innerCard {
  padding-bottom: 3%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.topCard {
  padding-bottom: 3%;
}


.navbar-toggler {
  background-color: white;
  
}
.navbar-toggler-icon {
  background-color: rgba(82,40,144,255);
  
}

.search-button {
  margin-top: 5%;
  border-radius: 5%;
  background-color: rgba(82,40,144,255);
  border-radius: 5%;
  width: 50%;
  color: white;
}

.search-button:active {
  box-shadow: 0 5px gba(230,180,102,255);
  transform: translateY(4px);
}

nav, footer {
  background-color: rgba(82,40,144,255);
  color: white;
}
.nav-link, .navbar-brand {
  color: white;
}

footer, #footer-link {
  text-align: center;
  color: white;
}


li, label {
  margin-top: 1%;
  margin-bottom: 1%;
}


.cardRow, .savedCards {
  margin: 1%;
  border-radius: 1%;
}

.savedCards {
width: 200px;
border-radius: 2%;
}

.resultsRow {
  justify-content: center;
  color: rgba(82,40,144,255);
}

.saved-group {
  padding: 1%;
}

.saved-group2 {
  padding: 0px;
  margin-bottom: 0px;
}

.cardButton, .cardButtonText {
  border: 1px solid gba(230,180,102,255);
  background-color: rgba(82,40,144,255);
  color: white;
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10%;
}


@media (max-width: 650px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */

  .topCard {
    padding-bottom: 3%;
    margin: 5%;
    
  }

  .savedCards {
    width: 160px;
    height: 320px;
    margin: 2%;
    border-radius: 2%;
    text-align: left;
  }

  #cardImage {
    max-width: 120px;
    max-height: 120px;
    padding-top: 3%;
    border-radius: 5%;
  }

  footer {
  width:100%;
  position: absolute; 
  bottom:0;
 
  }

  #size, #ages, #gender, #kids, .zipcodeinput {
    border:rgba(82,40,144,255) 1px solid;
  } 

  .cardButton, .cardButtonText {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 6%;

  }

}